* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1F1F3D;
  display: flex;
  flex-direction: row;
}

/* Navigation Bar */

.mobile-header {
  visibility: hidden;
  position: absolute;
}

aside {
  align-items: center;
  background-color: #1F1F3D;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 35%;
}

.section-aside-1:hover,
.section-aside-2:hover,
.section-aside-3:hover {
  background-color: #191930;
  transition: 0.25s;
}

.section-aside-1 {
  align-items: center;
  border-bottom: solid 1px #BFBFDD;
  display: flex;
  height: 70px;
  justify-content: center;
  width: 100%;
}

h1 {
  color: #FFFFFF;
  font-size: 23px;
  font-weight: 700;
  padding: 20px 0;
  width: 85%;
}

h1:hover {
  color: #ff5d30;
  transition: 0.25s;
}

.section-aside-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-evenly;
  width: 100%;
}

h2 {
  color: #BFBFDD;
  font-size: 17px;
  width: 85%;
}

#btn-starred {
  width: 85%;
}

.section-aside-3 {
  align-items: center;
  border-bottom: solid 1px #BFBFDD;
  border-top: solid 1px #BFBFDD;
  display: flex;
  flex-direction: column;
  height: 420px;
  justify-content: space-evenly;
  width: 100%;
}

aside ul {
  list-style: none;
  width: 100%;
}

ul {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
}

li {
  height: 40px;
  padding: 7px 8%;
}

li:hover {
  background-color: #D14119;
  border-left: solid 10px #F58E72;
  padding-left: 6%;
  transition: 0.25s;
}

li:active {
  background-color: #A63414;
  border-left: solid 10px #F58E72;
  transition: 0.05s;
}

aside form {
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: flex-start;
  width: 85%;
}

button:focus {
  outline: none;
}

aside button {
  background-color: #5356A4;
  border-color: #5356A4;
  border-radius: 2px;
  color: #E9E9F3;
  font-size: 17px;
  font-weight: 700;
  height: 40px;
  width: 100%;
}

button:hover {
  background-color: #3c40a3;
  border-color: #6468cc;
  transition: 0.2s;
}

button:active {
  background-color: #2a2d73;
  border-color: #6468cc;
  transition: 0.04s;
}

input:focus {
  outline: none;
}

aside input {
  background-color: #E9E9F3;
  font-size: 16px;
  height: 40px;
  margin-bottom: 25px;
  margin-top: 5px;
  padding-left: 8px;
  border-radius: 2px;
  border: solid 2px #5356A4;
}

.btn-menu {
  visibility: hidden;
}
/* Main Section */

main {
  background-color: #1F1F3D;
  height: 100%;
  width: 100%;
  box-shadow: -5px 0px 15px black
}

/* Top Section */


.section-top {
  background-color: #A9AAD2;
  display: flex;
  height: 400px;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  margin: 17px;
  width: 455px;
}

.form-top {
  color: #1F1F3D;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 700;
}

.section-top input:focus {
  border: #5356A4 solid 2px;
  box-shadow: 0 0 10px gray;
  transition: 0.2s;
}

.form-title {
  border-radius: 3px;
  border: solid 1.5px #5356A4;
  font-size: 18px;
  height: 50px;
  margin: 5px 0;
  padding-left: 10px;
}

.form-body {
  border-radius: 2px;
  border: gray solid 1px ;
  border: solid 1.5px #5356A4;
  font-size: 18px;
  height: 100px;
  margin: 5px 0;
  padding-top: 8px;
  padding-left: 12px;
  resize: none;
}

textarea:hover {
  box-shadow: 0 0 10px gray;
  transition: 0.25s;
}

textarea:focus {
  outline: none;
  box-shadow: 0 0 10px gray;
}

#btn-save {
  background-color: #353567;
  border-radius: 2px;
  border: none;
  border: solid 1px #353567;
  color: #ffffff;
  font-size: 22px;
  height: 50px;
  margin-bottom: 5px;
  margin-top: 15px;
}

#btn-save:disabled {
  opacity: 0.6;
  pointer-events: none;
  transition: 0.2s;
}

#btn-save:hover {
  background-color: #1c1c61;
  border: solid 1px #c5bad9;
  transition: 0.2s;
}

#btn-save:active {
  background-color: #16164d;
  border: solid 1px #c5bad9;
  transition: 0.5s;
}

.div-search {
  display: flex;
  height: 50px;
  margin-top: 18px;
  width: 100%;
}

.section-top img {
  background-color: #1F1F3D;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  border: solid 1px 0 1px 1px gray;
  height: 100%;
  padding: 11px 0px;
  z-index: 10;
}

.div-search input {
  border: solid 1.5px #5356A4;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 18px;
  height: 100%;
  padding: 5px;
  width: 100%;
  z-index: 9;
}

.section-top input:hover {
  box-shadow: 0 0 10px gray;
  transition: 0.25s;
}

/* Bottom Section */

.section-bottom {
  background-color: #EAEAF4;
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0 50px;
  grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
  grid-template-rows: auto;
  min-height: 800px;
  justify-items: center;
  padding: 20px 60px;
}


.idea-card {
  box-shadow: 0 0 10px #666666;
  height: 339px;
  width: 100%;
  border: solid 3px #5356A4;
}

.idea-card:hover {
  box-shadow: 0 0 20px #999999;
  transition: 0.4s;
}

.section-bottom img {
  height: 28px;
}

.section-bottom header {
  align-items: center;
  background-color: #1F1F3D;
  display: flex;
  height: 35px;
  justify-content: space-between;
}

.img-star {
  margin-left: 5px;
}

.img-star:hover {
    transform: rotate(20deg);
    transition: 0.2s;
}

.hidden {
  visibility: hidden;
}

#idea-prompt{
  color: #D14119;
  font-size: 20px;
  font-weight: 400;
  padding: 50px;
}
  
#star-prompt{
  color: #D14119;
  font-size: 20px;
  font-weight: 400;
  padding-top: 50px;
}

.img-delete {
  margin-right: 5px;
}

.img-delete:hover {
  transform: rotate(-20deg);
  transition: 0.2s;
  content:url("images/delete-active.svg");
}

.img-downvote {
  margin-right: 5px;
}

.img-downvote:hover {
  content:url("images/downvote-active.svg");
}

.img-upvote {
  margin-left: 5px;
}

.img-upvote:hover {
  content:url("images/upvote-active.svg");
}

.card-content {
  background-color: #ffffff;
  color: #1F1F3D;
}

h3 {
  background-color: white;
  border-radius: 3px;
  border: solid 2px white;
  font-size: 22px;
  height: 45px;
  margin: 15px 15px;
  padding-left: 10px;
  padding-top: 5px;
}

h3:hover {
  background-color: #f7f7f7;
  border-radius: 3px;
  border: dashed 2px #e3e3e3;
  transition: 0.25s;
}

h3:focus {
  background-color: white;
  border-radius: 3px;
  border: dashed 2px gray;
  outline: none;
  transition: 0.6s;
}

.card-body {
  border-radius: 3px;
  border: solid 2px white;
  font-size: 20px;
  height: 180px;
  margin: 15px 15px;
  padding-left: 10px;
  padding-top: 6px;
}

.card-body:hover {
  background-color: #f7f7f7;
  border-radius: 3px;
  border: dashed 2px #e3e3e3;
  transition: 0.25s;
}

.card-body:focus {
  background-color: white;
  border-radius: 3px;
  border: dashed 2px gray;
  outline: none;
  transition: 0.6s;
}

span {
  margin-left: 5px;
}

.section-bottom footer {
  align-items: center;
  background-color: #5356A4;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 35px;
  justify-content: space-between;
}

.quality-text {
  align-items: center;
  display: flex;
  font-size: 16px;
}

/* MEDIA QUERIES */

@media (max-width: 775px) {
    body {
        display: flex;
        flex-direction: column;
    }

    aside {
      position: fixed;
      width: 100%;
      height: 105vh;
      z-index: 15;
    }

    .section-aside-1:hover,
    .section-aside-2:hover,
    .section-aside-3:hover {
      background-color: #1F1F3D;
}

    .show-aside {
      right: 0vh;
      transition: 1s;
    }

    .hide-aside {
      right: 100vh;
      transition: 1s;
    }

    h1 {
        font-size: 30px;
        width: 225px;
    }

    aside button {
      font-size: 18px;
    }

    .section-aside-3 {
      border-bottom: 0;
    }

    /* MOBILE MENU settings and animations */

    .mobile-header {
      visibility: visible;
      position: sticky;
      width: 100%;
      background-color: #1F1F3D;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      z-index: 30;
      height: 70px;
      border-bottom: solid 1px white;
      box-shadow: 0 0 15px black;
    }

    .burger-icon-1 {
      background-color: white;
      border-radius: 5px;
      height: 3px;
      margin: 3px 0;
      width: 40px;
      box-shadow: 0 0 4px black;
      transition: 0.25s;
    }

    .x-icon-1 {
      transform: rotate(45deg);
      background-color: white;
      border-radius: 5px;
      position: absolute;
      height: 3px;
      margin: 0 0;
      width: 40px;
      box-shadow: 0 0 4px black;
      transition: 0.25s;
    }

    .x-icon-2 {
      background-color: white;
      border-radius: 5px;
      position: absolute;
      height: 3px;
      margin: 0 0;
      width: 0px;
      box-shadow: 0 0 4px black;
      transition: 0.25s;
    }

    .x-icon-3 {
      transform: rotate(-45deg);
      background-color: white;
      border-radius: 5px;
      position: absolute;
      height: 3px;
      margin: 0 0;
      width: 40px;
      box-shadow: 0 0 4px black;
      transition: 0.25s;
    }

    .icons-backdrop-show {
      background-color: #1F1F3D;
      align-items: center;
      border-radius: 20%;
      top: 15px;
      display: flex;
      flex-direction: column;
      height: 45px;
      justify-content: center;
      position: fixed;
      left: 10px;
      width: 55px;
      z-index: 40;
      transition: 0.3s ease-in-out .45s;
    }

    .icons-backdrop-hide {
      align-items: center;
      border-radius: 20%;
      top: 15px;
      display: flex;
      flex-direction: column;
      height: 45px;
      justify-content: center;
      position: fixed;
      left: 10px;
      width: 55px;
      z-index: 40;
      transition: 0.45s;
    }

    .section-top {
      height: 415px;
    }

    article {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      width: 76%;
    }

    .section-bottom {
      padding: 20px 35px;
    }

}