* {
/*  border: solid 1px red;*/
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
}

/* Navigation Bar */

aside {
  align-items: center;
  background-color: #1F1F3D;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.section-aside-1 {
  width: 100%;
  display: flex;
  align-items: center;
  height: 65px;
  justify-content: center;
  border-bottom: solid 1px #BFBFDD;
}

h1 {
  color: #FFFFFF;
  font-size: 19px;
  font-weight: 700;

  padding: 20px 0;
  width: 85%;
}

.section-aside-2 {
  display: flex;
  flex-direction: column;
  height: 100px;
  height: 150px;
  justify-content: space-evenly;
  width: 85%;
}

h2 {
  color: #BFBFDD;
  font-size: 14px;
  width: 85%;
}

.section-aside-3 {
  align-items: center;
  border-bottom: solid 1px #BFBFDD;
  border-top: solid 1px #BFBFDD;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-evenly;
  width: 100%;
}

aside ul {
  list-style: none;
  width: 100%;
}

ul {
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
}

li {
  height: 40px;
  padding: 9px 8%;
}

li:hover {
  background-color: #D14119;
  border-left: solid 10px #F58E72;
}

li:active {
  background-color: #A63414;
  border-left: solid 10px #F58E72;
}

aside form {
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: flex-start;
  width: 85%;
}

aside button {
  background-color: #5356A4;
  border-color: #5356A4;
  border-radius: 2px;
  color: #E9E9F3;
  font-size: 1.4vw;
  font-weight: 700;
  height: 40px;
  width: 100%;
}

aside button:hover {
  background-color: #D14119;
}

aside button:active {
  background-color: #A63414;
}

aside input {
  background-color: #E9E9F3;
  height: 40px;
  margin-bottom: 25px;
  margin-top: 5px;
}

/* Main Section */

main {
  width: 85%;
  height: 1000px;
}

/* Top Section */

.section-top {
  display: flex;
  background-color: #A9AAD2;
  height: 240px;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-top {
  display: flex;
  flex-direction: column;
}

.section-top img {
  height: 26px;
}

.div-search {
  height: 26px;
}

.div-search input {
  height: 100%;
}

/* Bottom Section */

.section-bottom {
  background-color: #EAEAF4;
  height: 400px;
}
.section-bottom img {
  height: 25px;
}